<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tarotframework.server.oak.mapper.IMhUserHourMapper">

    <delete id="deleteMhUserHour">
        DELETE FROM mh_user_hour muh WHERE DATE_FORMAT(muh.fill_date, '%Y-%m') = #{month}
    </delete>

</mapper>
